.outer-App {
  background-color: rgb(112, 0, 0);
}
.App {
  background-color: rgb(112, 0, 0);
  text-align: center;
  border-style: groove;
  border-width: 20px;
  border-radius: 25px;
  border-color: goldenrod;
}

.app-title {
  font-size: 5em;
  color: goldenrod;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-bottom: -10px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.app-title:hover {
  text-decoration: underline whitesmoke;
  color: whitesmoke;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
