.movie-title-poster {
    padding: 20px;
    border-radius: 50px;
    margin: 5px;
    color: goldenrod;
}
.movie-poster {
    border-radius: 10px;
    border-style: double;
    border-width: 8px;
    border-color: goldenrod;
    margin: 10px;
    height: 250px;
    width: 167px;
}

.movie-title-poster:hover {
    background-color: rgb(190, 0, 0);
    font-size: larger;
    color: whitesmoke;
}

.movie-poster:hover {
    border-color: whitesmoke;
    border-width: 15px;
}

.movie-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}